body {
    background-color: lightgray;
}

.header {
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightslategray;
}

h1 {
    margin-top: 10px;
    margin-bottom: 2%;
    text-align: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
}

button.edit {
    margin-top: 10px;
    margin-left: 43%;
    padding-left: 28px;
    padding-right: 28px;
}
button {
    margin-top: 13%;
    margin-left: 38%;
    background-color: lightgray;
    border-radius: 40%;
}
button:hover {
    background-color: lightslategray;
    opacity: 0.8;
}

.vocablebutton {
    margin-left: 37%;
}

.outButton {
    background-color: red;
}
.outButton:hover {
    opacity: 0.6;
}
.out {
    text-align: right;
    margin-top: -137px;
}

#backButton {
	margin-left: 22%;
	background-color: grey;
}
