body {
    background-color: lightgray;
}


.header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 26px;
  	background: #555;
  	color: #f1f1f1;
}

.stick {
  position: fixed;
  margin-left: 20%;
  top: 1%;
  width: 80%;
}

.stick {
	margin-left: 10%;
}

.tableMain {
	padding: 20px	
}




h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.welcome {

	text-align: center;
}

#myInput {
	margin-left: 10%;
	font-size: 20px;
}

.rowOne {
	font-size: 26px;
}

td {
	font-size: 24px;
}

#addButton {
	margin-left: 60%
}

.tableMain {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.lang {
    text-align: center;
    margin-top: 5%;
}

.topic {
    text-align: center;
    margin-top: 1%;
}

.vocable {
    text-align: center;
    margin-top: 8%;
}

.addword {
	margin-left: 40%;
	width: 50%;
	height: 100px;
}

.addalienWord {
	margin-left: 40%;
	
	width: 50%;
	height: 100px;
}

.upload {
	margin-left: 10%;
}

#output {
	margin-left: 45%;
}

#safebutton {
	margin-left: 48%;
}

.vocableSize {
    font-size: 26px;
}

b{
    font-size: 26px;
}

.img {
    text-align: center;
    margin-top: 2%;
}

.upload {
    text-align: center;
    margin-top: 5%; 
}

a {
	font-size: 22px;
}
#editButton {
	padding-left: 100%;
	
}

#deleteButton {
	margin-left: 50%;
}





