<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vocables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/general.css"/>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/vocable.css" />
	<link type="text/css" rel="stylesheet" href="css/main.css" />
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/jquery-3.1.1.slim.min.js"></script>
	<script src="/tether.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src ="js/extras.js"></script>
	<script src ="js/upload.js"></script>
</head>
<body>
	<h1>New Vocable</h1>
	
    <div class="aroundField">
    
		<form class="add" th:object="${vocable}" th:action="@{/save}" action="/upload" method="post" enctype="multipart/form-data">
			<div class= "addword">
			  	<label for="word"><b>Word</b></label>
				<br>
				<input class ="addField" type="text" th:field="*{word}"/>
			</div>
		  
			<div class="addalienWord">
			  	<label for="alienWord"><b>Alien Word</b> </label>
			  	<br>
	   		  	<input class ="addField" type="text" th:field="*{alienWord}"/>
			</div >
			
			<div class="addalienWord">
			  	<label for="category"><b>Category</b> </label>
			  	<br>
	   		  	<select style="font-size: 22px;" id="deplist" th:field="*{category}">
					<option th:each="cate: ${categories}"
							th:value="${cate.categoryId}"
							th:text="${cate.name}"></option>
				</select>
		
			</div >
		
		
	   			<img id="output" alt="Preview" width="200" />

			    <div class="upload">
			        <input id="fileImage" type="file" name="fileImage"/>
			        <input type="hidden" th:field="*{id}"/>
			    </div>
		 
		 
			  	<br>
			  	<br>
			  	<br>
			<a id="backButton" class = "btn-success" href="/vocablelist">Back</a>
			
			<input id="safebutton" class="btn-success" type="submit" value="Save"></input>
			<div style="clear: both; display: block; height: 10px;"></div>
		</form>	
		
	</div> 
	<script type="text/javascript">
		 $(document).ready(function() {
			 $('#fileImage').change(function() {
				 showImageOutput(this);
			 });
			 
		 });
		 
		 function showImageOutput(fileInput) {
			 file = fileInput.files[0];
			 reader = new FileReader();
			 
			 reader.onload = function (e) {
				 $('#output').attr('src', e.target.result);
			 };
			 reader.readAsDataURL(file);
		 }
	</script>	
</body>
</html>