<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VocableList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/vocable.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src= "js/upload.js"></script>
</head>
<body>
	<h1 style="padding-left: 10px; padding-bottom:20px;">Edit Book</h1>
	
    <div style="border-radius: 5px; background-color: #f2f2f2; padding:15px;">
		<form style="font-size: 20px; padding-left: 5px;" th:object="${vocable}" th:action="@{/saveEdit}" action="#" method="get">
		  
			<input  type="hidden" th:field="*{id}" />

		  	<label style="font-size: 22px;" for="title">Word:</label>
			  	<br/>
			<input style="font-size: 20px; width: 40%; margin_left: 10px;" type="text" th:field="*{word}" />
			<div style="clear: both; display: block; height: 10px;"></div>
	 
		  	<label style="font-size: 22px;" for="author">Alien-Word:</label>
		  		<br/>
			<input style="font-size: 20px; width: 40%; margin_left: 10px;" type="text" th:field="*{alienWord}" />
			<div style="clear: both; display: block; height: 10px;"></div>
	
			<label style="font-size: 22px;" for="year">Picture:</label>
				<br/>
			<input style="font-size: 20px; width: 40%; margin_left: 10px;" type="text" th:field="*{pictureName}" />
			<div class="upload" alt=${vocable.picture}> </div>
				<input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
		       	<p class="uploadHover">
		       		<label for="file" style="cursor: pointer;">
		       			Upload Image
		       		</label>
		       	</p>
		       	<br/>
		       	<img id="output" alt="Your Picture" width="200" />			
			<div style="clear: both; display: block; height: 10px;"></div>
		
				<br/>
			<label style="font-size: 22px;" for="depList">Category:</label>
			
			<select style="font-size: 22px;" id="deplist" th:field="*{category}">
				<option th:each="cate: ${categories}"
							th:value="${cate.categoryId}"
							th:text="${cate.name}"></option>
			</select>
			
				<br/>
				
			
		
				<br/>
			
			<input style="font-size: 20px; color: white; background-color: green; " type="submit" value="Save"></input>
		</form>
	</div>  
</body>
</html>